# Rename this file from .dev.vars.example to .dev.vars and paste in your credentials

ENVIRONMENT=development

# SMTP Configuration for Porkbun
SMTP_USER=your_email@domain.com
SMTP_PASS=your_smtp_password

# The email address to send emails to
EMAIL=receiving_email@domain.com

# The email address to send emails from
FROM_EMAIL=sending_email@domain.com

# This is a random string used for the session cookie for saving the preferred theme
SESSION_SECRET=KEEP_IT_SECRET_KEEP_IT_SAFE
